{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/material.min.css' %}">
<link rel="stylesheet" href="{% static 'css/ripples.min.css' %}">
<link rel="stylesheet" href="{% static 'filemanager/css/filemanager.css' %}">


<nav class="navbar personal-heading" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">FileManager</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">				
			</ul>

			<ul class="nav navbar-nav navbar-right hide">
				<li><a href="#">Link</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div>
</nav>
<div class="container">
	<div class="panel panel-primary col-lg-8 noPadding">
		<!-- Default panel contents -->
		<div class="panel-heading personal-heading">Panel heading</div>			
		<!-- Table -->
		<table class="table">
			<thead>
				<tr>
					<th>Files</th>
					<th>Modification Time</th>								
				</tr>
			</thead>
			<tbody>
			{% for f,m in files.items %}
				<tr>
					<td>{{f}}</td>
					<td>{{m}}</td>
				</tr>	
			{% endfor %}			
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/material.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ripples.min.js' %}"></script>
<script>
	$.material.init();
</script>